@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@100;400&display=swap");

:root {
    --font-outfit: "Outfit";
    --font-size: 1em;
    --font-Liv: "Livvic"
}

body, html, #root {
    height: 100%;
    color: white;
    font-family: var(--font-Liv);
}

.main {
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-image: url('./images/home/background-home-desktop.jpg');
    color: white;
}

.destination-background {
    background-image: url('./images/destination/background-destination-desktop.jpg');
}

.crew-background {
    background-image: url('./images/crew/background-crew-desktop.jpg');
}

.technology-background {
    background-image: url('./images/technology/background-technology-desktop.jpg');
}

.banner {
    display: inline;
}

hr {
    width: 35%;
    margin: 0;
    left: 11%;
    top: 3.5em;
    position: relative;
    height: 1.5px;
    background-color: #675c5c;
    border: none;
    z-index: 1;
}

.line {
    width: 35%;
    left: 11%;
    top: 3.5em;
    position: relative;
    height: 1.5px;
    background-color: #675c5c;
    z-index: 1;
}

p {
    margin: 0;
}

.logo {
    width: 50px;
    height: auto;
    border-radius: 50%;
    position: relative;
    top: 5.5em;
    left: 5%;
}

.main-topbar {
    width: 50%;
    float: right;
    height: 5em;
    font-family: var(--font-outfit);
    position: relative;
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em 3em 1em 3em;
    position: relative;
    width: 50%;
    float: right;
    height: 5em;
    color: white;
    font-family: var(--font-outfit);
    background: linear-gradient(to right, #1b1b31, lightblue, #5656a1, lightblue);
}

.destinationShades {
    background: linear-gradient(to right, rgb(26 28 29), #262628)
}
.crewShades {
    background: linear-gradient(to right, #39393b, rgb(30, 31, 32), #39393b);
}
.technologyShades {
    background:  rgb(20 32 43);;
}

a {
    text-decoration: none;
    color: white;
}

.home {
    position: absolute;
    top: 50%;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.content-text {
    margin-left: 20%;
}

.explore {
    width: 250px;
    height: 250px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    bottom: 0;
    right: 170px;
}

.destination, .crew, .technology {
    position: absolute;
    top: 30%;
    width: 100%;
}

.title {
    padding-left: 10%;
    font-size: 30px;
    text-transform: uppercase;
}

.planets-list {
    display: flex;
    justify-content: space-between;
    position: relative;
    float: right;
    width: 25%;
    right: 18%;
    padding-top: 5%;
}

.planet {
    &:hover{
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 10px;
    }
}

.planet-img, .crew-img {
    padding-left: 25%;
}

.crew-img {
    height: 620px;
}

.planet-overview {
    padding: 40px 130px 0 130px;
}

.overview-footer {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    margin-top: 76px;
}

.overview-line {
    top: 3.5em;
    position: relative;
    height: 1.5px;
    background-color: #434040;
    z-index: 1;
}

.crew-selector {
    width: 10%;
    position: absolute;
    bottom: 3em;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}
.dots{
    display: inline-block;
    width: 5px;
    height: 5px;
    padding: 5px;    
    background-color: gray;
    border-radius: 50%; 
    &:hover{
        cursor: pointer;
        background-color: white;
    }
}

.technology-selector {
    top:30%;
    left: 11em;
    position: absolute;

}

.numberCircle {
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-size: 32px;
    border: 2px solid #666;
    margin: 10px;
    justify-content: center;
    &:hover{
        cursor: pointer;
        background-color: white;
        color:black;
    }
}

.tech-img {
    float: right;
    right: 1em;
    position: absolute;
}

.tech-content-text {
    margin-left: 40%;
    padding-top: 8%;
}